#banner{
    background-color: rgb(100, 150, 25);
    width: 100%;
    height: 300px;
    background-image: url(https://i.pinimg.com/originals/10/d9/63/10d9631abb9778072c1da264a6d4709a.png), url(https://cdn.picpng.com/cats/download-cats-22927.png);
    background-repeat: no-repeat;
    background-position: left, right;
    background-size: 300px 100%;
}