#circle{
    width: 400px;
    height: 400px;
    position: absolute;
    background:royalblue;
    border-radius: 200px;
    top:50px;
    left:50px;
    opacity: 1;
    text-align: center;
}

#circle-2{
    width: 400px;
    height: 400px;
    position: absolute;
    background:chartreuse;
    border-radius: 200px;
    top:250px;
    left:150px;
    opacity: 0.3;
    text-align: center;
}

#circle-3{
    width: 400px;
    height: 400px;
    position: absolute;
    background:rgb(194, 39, 142);
    border-radius: 200px;
    top:50px;
    left:250px;
    text-align: center;
}
